.navBar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: green;
    color: white;
    padding: 1rem;
}
.navBar ul a{
    color: white;
    text-decoration: none;
}

.mainH2 {
    text-align: center;
}

.navBar ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.action {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: lightpink; */
    border-radius: 10px;
    margin: 1rem auto;   /* centers each div and adds vertical spacing */
}

.actionSec2 button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    height: 6vh;
    width: 8vw;
}

.actions {
    display: flex;
    flex-direction: column;  /* stacks .action divs vertically */
    align-items: center;     /* centers them horizontally */
    justify-content: center;
}

.actionSec2 button:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#action1{
    background-color: lightpink;
}

#action2{
    background-color: lightgreen;
}

#action3{
    background-color: lightblue;
}

#action4{
    background-color: lightgoldenrodyellow;
}